@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Pretendard", sans-serif;
}

.slick-slider {
  margin-inline: -9px;
}
.slick-list .slick-track .slick-slide > div {
  margin-inline: 9px;
}
